body {
	margin: 0 auto;
}

.App {
	margin: 0 auto;
}

#color_grid {
	margin: 0 auto;
	margin-top: 40px;

}

.title {
	text-align: center;
}

.header,
.footer {
	border: 1px solid black;
	margin: 0;
  display: flex;
  justify-content: space-around;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.customize {
	margin: 0 auto;
}

form {
	margin: 0 auto;
	text-align: center;
}
