body {
	margin: 0 auto;
	font-family: 'Sorts Mill Goudy', serif;
}

.App {
	margin: 0 auto;
}

a {
	text-decoration: none;
}

a:link {
	color: rgb(24, 31, 70);
}
a:visited {
	color: rgb(24, 31, 70);
}
a:hover,
a.account_link {
	color: rgb(24, 31, 70);
	text-decoration: underline;
}
a:active {
	color: rgb(24, 31, 70);
}

#color_grid {
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 10%;
}

.title {
	text-align: center;
	margin-top: 8%;
}

.header,
.footer {
	margin: 0;
	display: flex;
	justify-content: space-around;
	height: 60px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	padding: 0;
  align-items: center;
}

.redo_div {
	display: flex;
	justify-content: center;
}

.fa-redo {
	font-size: 35px;
}

.signUpHeader {
	text-align: center;
	margin-top: 25%;
}

.signup {
	font-size: 24px;
}

.account-h2 {
	text-align: center;
	margin-top: 10%;
}

.account_form {
	text-align: right;
	margin-right: 8%;
	margin-top: 5%;
	font-size: 15px;
}

.sign_out {
	border: none;
	background-color: white;
	color: rgb(24, 31, 70);
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 16px;
}
